@import '../../styles/sizes.scss';
@import '../../styles/borders.scss';

.nameInput {
    width: 18rem;
    border-radius: $borderRadius;
    text-align: center;
    font-size: 1.75rem;
    height: 2.25rem;
    border: 2px solid black;
    margin-top: 2rem;
}  

.nameInput:invalid, .nameInput:required {
    outline: none;
    box-shadow: none;
}

.nameInput:focus {
    outline: none;
    box-shadow: none;
}